{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
   <div id="errors"></div>

    <div id="messages"></div>
    
    <div id="emails-view" class="overflow-y-auto pe-1">
    </div>

    <div id="email-view" class="">
    </div>

    <div id="compose-view" class="p-4 h-100">
        <h3>New Email</h3>
        <div id="compose-errors"></div>
        <form id="compose-form" class="mb-5">
            <div class="form-group form-floating">
                <input disabled class="form-control" id="sender" value="{{ request.user.email }}" required>
                <label for="sender">From:</label>
            </div>
            <div class="form-group form-floating">
                <input id="compose-recipients" required class="form-control" placeholder="Please enter valid email addresses separated by spaces or ,">
                <label for="compose-recipients">To: </label>
            </div>
            <div class="form-group form-floating">
                <input class="form-control" required id="compose-subject" placeholder="Subject">
                <label for="compose-subject">Subject</label>
            </div>
            <div class="form-floating mb-5">
                <textarea class="form-control" required id="compose-body" placeholder="Body" rows="10"></textarea>
                <label for="compose-body">Message</label>
            </div>
            <button type="submit" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                    <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"/>
                </svg>
                Send
            </button>
            <button type="button" class="btn btn-outline-danger d-none" id="cancel">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                </svg>
                Cancel
            </button>
        </form>  
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}