{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
   <div id="errors"></div>

    <div id="messages"></div>
    
    <div id="emails-view" class="overflow-y-auto pe-1">
    </div>

    <div id="email-view" class="">
    </div>

    <div id="compose-view" class="p-4 h-100">
        <h3>New Email</h3>
        <div id="compose-errors"></div>
        <form id="compose-form" class="mb-5">
            <div class="form-group form-floating">
                <input disabled class="form-control" id="sender" value="{{ request.user.email }}" required>
                <label for="sender">From:</label>
            </div>
            <div class="form-group form-floating">
                <input id="compose-recipients" required class="form-control" placeholder="Please enter valid email addresses separated by spaces or ,">
                <label for="compose-recipients">To: </label>
            </div>
            <div class="form-group form-floating">
                <input class="form-control" required id="compose-subject" placeholder="Subject">
                <label for="compose-subject">Subject</label>
            </div>
            <div class="form-floating mb-5">
                <textarea class="form-control" required id="compose-body" placeholder="Body" rows="10"></textarea>
                <label for="compose-body">Message</label>
            </div>
            <input type="submit" class="btn btn-primary" value="Send"/>
        </form>  
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}